* {
  box-sizing: border-box;
 
}
input {border: 0px;
  border-bottom: solid 1px }
  input:focus { border: solid 1px limegreen;
    outline: none
  }

  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(549808.png);
    background-repeat: no-repeat;
  background-size: cover;
    
  }
  input:hover { border: solid  rgb(0, 81, 255)}
  form{
      display: grid;
      grid-template-columns: 1fr 3fr;
      border: solid;
      grid-template-rows: 8 45px;
      border-radius: 5px;
      background-color: white;
  }
  input[type="submit"] {
    grid-column: span 2;
  }
  
